<h2>Flickr Photos Searcher</h2>
<p>This is a Ruby on Rails web application that allows users to search for photos using the Flickr API</p>

<div class="row">
  <%= form_tag(search_path) do %>
    <div class="col-lg-6">
      <div class="input-group">
        <%= text_field_tag :query, '', class: 'form-control' %>
        <span class="input-group-btn">
          <button type="submit" class="btn btn-default" id="search-button" disabled>
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          </button>
        </span>
      </div>
    </div>
  <% end %>
</div>

<% if @photos.present? %>
  <h3> Results for <strong><%= params[:query] %></strong> </h3>
  <div class="row mt-20" id="photos-list">
    <%= render partial: 'photo', collection: @photos %>
  </div>

  <div class="row mt-20">
    <%= link_to "Show more", search_path(query: @query, page: @page.to_i.next), method: :post, remote: true, class: 'btn btn-primary btn-lg btn-block', id: 'show-more'
    %>
  </div>
<% end %>